* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--fuente-principal);
  background: var(--color-fondo);
  color: var(--color-texto);
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

.contenedor {
  width: min(100% - 32px, var(--ancho-maximo));
  margin: 0 auto;
}